body {
    font-family: 'Lato', sans-serif
}

h1 {
    margin-bottom: 40px
}

label {
    color: #333
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}

input[type=checkbox] {
    transform: scale(1.9);
    margin-top:10px;
}

#addbtn:hover{
    transform: scale(.9);
}

input[type=text]{
    background-color:rgb(248, 223, 207);
}
input[type=number]{
    background-color:rgb(248, 223, 207);
}
textarea{
    background-color:rgb(248, 223, 207);
}