<div > <div class=" text-center mt-5 ">
    
</div>
<div class="row ">
    <div class="col-lg-9 mx-auto">
        <div class="card mt- mx-auto p-4" style="background-color:#fc732f; border-radius: 25px;">
            <h1 style=" -webkit-text-stroke:1px black; text-align: center; font-family: 'Times New Roman', Times, serif;">ADD PRODUCT</h1>
            <div class="card-body" style="background-color:#ff7937;">
                <div class="container">
                    
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group"> 
                                        <label for="productName">Product Title <span style="color:red;">*</span></label>
                                        <input [(ngModel)]="productName" id="productName" type="text" name="ProductName" class="form-control" placeholder="Enter Product Name" required="required">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group"> 
                                        <label for="productPrice" >Price <span style="color:red;">*</span></label>
                                        <input id="productPrice" class="form-control" placeholder="Enter Price" type="text" (blur)="transformAmount($event)" [(ngModel)]="formattedPriceAmount" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="stock">Stock <span style="color:red;">*</span></label>
                                        <input [(ngModel)]="stock" id="stock" type="number" min="1" max="100" name="stock" class="form-control" required="required">

                                        <label for="featured">Featured</label><br>&nbsp;
                                        <input [(ngModel)]="featured" style="width:15px;" id="featured" type="checkbox">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="discount">Discount</label>
                                    <div class="input-group mb-2">
                                        <input [(ngModel)]="discount" style="text-align:right;" type="number" class="form-control" id="stock">
                                        <div class="input-group-append">
                                            <div class="input-group-text">%</div>
                                          </div>
                                      </div>
                                        
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="description">Product Description <span style="color:red;">*</span></label>
                                        <textarea [(ngModel)]="description" id="description" name="message" class="form-control" placeholder="Enter Product Description here" rows="2" required="required" data-error="Please, leave us a message."></textarea>
                                    </div>
                                </div>
                                <div class="text-center"> <button (click) = "addProduct()" id="addbtn" class="pt-2 btn-block" style="background-color: #f06520; border-radius:5px; padding-bottom: 8px; margin-top: 20px;">Add Product</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>