<section class="vh-100%" style="background-color: #eee;">
  <div class="container h-50">
    <!-- <div class="row d-flex justify-content-center align-items-center h-75"> -->
      <div class="col-lg-12 col-xl-30">
        <br>
        <button id="addbtn" (click)="addbtnClick()">Add Product</button>
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-10">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-11 order-2 order-lg-1">
                <div> 

                  <Table width="100%">
                    <tr *ngFor="let product of productArray">
                      <!-- edit button -->
                      <button id="editbtn" (click)="editbtnClick(product.productId)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                      </button>
                      
                      <span> <h4 id="pName">{{product.productName}}</h4> <p id="pDescription">{{product.productDescription}}</p> </span>

                      <span>
                      <!-- delete button -->
                      <button id="deletebtn" (click)="deletebtnClick(product.productId);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                          <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                        </svg>
                      </button>

                    </span>

                      <img [src]= 'setImage(product)' alt="">

                      <!-- price -->
                      <h5 id="price">Price: ${{product.productPrice}}</h5>

                      <!-- quantity/stock -->
                      <h5 id="quantity">Qt: {{product.currentStock}}</h5>

                    </tr>

                  </Table>

                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>