.sales-container{
    display: flex;
    flex-direction: column;
}

.sales-container__list{
    flex-grow: 1;
    padding: 16px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

.list-item {
    display: flex;
    align-items: right;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.list-item__image{
    margin-right: 16px;
    min-height: 100px;
    min-width: 100px;
    max-height: 100px;
    max-width: 100px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}

.list-item__details{
    flex-grow: 1;
    position: relative;
    padding-right: 18px;
}
.title{
    margin-top: 0%;
    margin-bottom: 8px;
    font-size: 1.125rem;
    font-weight: 500;
}
.price{
    margin-bottom: 12px;
    font-size: 1rem;
}

.list-item:hover {
    transform: scale(1.0125);
}

.product-price,  .title{
    font-size: 1.375rem;
    font-weight: 600;
    padding-right: .1rem;
}