<!-- <div class="bg-light">
    <p>{{itemQuantity}}</p>
    <p>{{productName}}</p>
    <p>{{productPrice}}</p>
    <p>{{productImage}}</p>
</div> -->

<!-- <p>{{productDesc}}</p> -->

<div class="bg-light m-4 py-3 row">
    <div class="col">
        <img class="rounded img-fluid" src="../../../assets/black_hat.jpeg" alt="Revature Hat">
    </div>

    <div class="col">
        <p class="fst-italic">Awesome hat for a sunny day</p>
        <p class="fw-bold text-end mt-5 me-1">{{10.05 | currency}}</p>
    </div>
</div>

<div class="bg-light m-4 py-3 row">
    <div class="col">
        <img class="rounded img-fluid" src="../../../assets/black_hat.jpeg" alt="Revature Hat">
    </div>

    <div class="col">
        <p class="fst-italic">Awesome hat for a sunny day</p>
        <p class="fw-bold text-end mt-5 me-1">{{10.05 | currency}}</p>
    </div>
</div>


<div class="bg-light m-4 py-3 row">
    <div class="col">
        <img class="rounded img-fluid" src="../../../assets/black_hat.jpeg" alt="Revature Hat">
    </div>

    <div class="col">
        <p class="fst-italic">Awesome hat for a sunny day</p>
        <p class="fw-bold text-end mt-5 me-1">{{10.05 | currency}}</p>
    </div>
</div>

<div class="bg-light m-4 py-3 row">
    <div class="col">
        <img class="rounded img-fluid" src="../../../assets/black_hat.jpeg" alt="Revature Hat">
    </div>

    <div class="col">
        <p class="fst-italic">Awesome hat for a sunny day</p>
        <p class="fw-bold text-end mt-5 me-1">{{10.05 | currency}}</p>
    </div>
</div>





