.side-nav-bar {
    position: fixed;
    z-index: 1001;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .side-nav-bar .side-nav-bar-overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }
  .side-nav-bar .side-nav-bar-menu-container {
    position: absolute;
    top: 0;
    bottom: 0;
    /* background: #FFF; */
    background: #fff;
    display: flex;
    flex-direction: column;
  }
  .side-nav-bar .side-nav-bar-menu-container .side-nav-bar-close {
    display: inline-block;
    font-size: 2.5em;
    margin: 24px 0px 0px 24px;
    cursor: pointer;
    color: #F26925;
  }
  .side-nav-bar .side-nav-bar-content-container {
    overflow-y: scroll;
    padding: 32px;
  }
  .side-nav-bar-overlay-collapsed {
    background: transparent !important;
  }
  .side-nav-bar-collapsed {
    visibility: collapse !important;
  }
  