<div class="justify-content-center">
    <div class="image">
        <div class="app d-flex justify-content-center">
            <div class="row no-gutters ">
                <div class="col-md-6 p-0 w-auto" id="box">
                    <div class="card">
                        <div class="login-box">
                            <div class="login-snip">
                                <input id="tab-1" type="radio" name="tab" class="sign-in" [checked]="loginTabSelected"><label
                                    for="tab-1" class="tab">Login</label>
                                <input id="tab-2" type="radio" name="tab" class="sign-up" [checked]="!loginTabSelected"><label
                                    for="tab-2" class="tab">Sign
                                    Up</label>

                                <div class="login-space">
                                    <div class="login">
                                        <br>
                                        <div class="group"><input id="user" type="text" class="input"
                                                placeholder="Enter your username" [(ngModel)]="userName"> </div>
                                        <br>
                                        <div class="group"><input id="pass" type="password" class="input"
                                                data-type="password" placeholder="Enter your password"
                                                [(ngModel)]="passWord"> </div>
                                        <br>
                                        <div class="group"> <input type="submit" class="button" value="Sign In"
                                                (click)="login()"> </div>
                                    </div>
                                    
                                    
                                    <div class="sign-up-form">
                                        <br>
                                        <div class="group"><input id="user" type="text" class="input"
                                                placeholder="Create your username" [(ngModel)]="userName"> </div>
                                        <br>
                                        <div class="group"><input id="pass" type="password" class="input"
                                                data-type="password" placeholder="Create your password"
                                                [(ngModel)]="passWord"></div>
                                        <password-strength-meter [password]="passWord" class="password-feedback">
                                        </password-strength-meter>
                                        <br>
                                        <div class="group"><input id="pass" type="text" class="input"
                                                placeholder="Enter your email address" [(ngModel)]="email"> </div>
                                        <br>
                                        <div class="group"><input id="pass" type="text" class="input"
                                                placeholder="Enter your first name" [(ngModel)]="firstName"> </div>
                                        <br>
                                        <div class="group"><input id="pass" type="text" class="input"
                                                placeholder="Enter your last name" [(ngModel)]="lastName"> </div>
                                        <br>
                                        <div class="group"> <input type="submit" class="button" value="Sign Up"
                                                (click)="signup()"> </div>
                                        <div class="foot"> <label for="tab-1">Already Member?</label> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>