<div class="product-card"[routerLink]="['product_details_page', singleproduct.productId]">
  <div >
  <div>
    <img src="assets/images/{{singleproduct.productName}}.jpg">
  </div>
  <div class="product-card__info">
    <header>
      <div class="title">
        <div class="product-name">{{getName()}}
          {{ displayName }}</div>
      </div>
      <div *ngIf="singleproduct.discountPercentage > 0.0;">
        <div class ="product-price">{{ singleproduct.productPrice-(singleproduct.productPrice*singleproduct.discountPercentage) | currency: "USD" }}</div>
        <div class="product-price" style="text-decoration: line-through;">{{ singleproduct.productPrice  | currency: "USD" }}</div>

      </div>
      <div *ngIf="singleproduct.discountPercentage === 0.0">
        <div class="product-price" >{{ singleproduct.productPrice | currency: "USD" }}</div>
      </div>
    </header>
  </div>
</div>
  <div class="product-card__cta">
    <button class="btn btn-dark"> 
      <!-- add to cart function here -->
      {{ singleproduct.currentStock === 0 ? "Out of stock" : "Add to cart" }}
    </button>
  </div>
</div>