.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.2s;
    overflow: hidden;
}
img {
  object-fit: contain;
  width: 100%;
  height: 20rem;
  border-bottom: solid #F26925;
}

.product-card__info {
      padding: 16px 16px 32px;
}
.product-price {
          font-size: 1.375rem;
          font-weight: 600;
          padding-right: .1rem;
}

header{
      display: flex;
        align-items: center;
}
.title {
    flex-grow: 5;
    margin-left: 100px;
}
.product-name {
  padding-right: 12px;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.btn {
        height: 48px;
        width: 38%;
        margin-left:32%;
        margin-bottom: 5%;
        border-style: solid;
        border-color: #474C55;
        background-color:#F26925;
        cursor: pointer;
        transition: background-color 0.2s;
}
.qty {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button.qtyminus {
  margin-right: 0.3rem;
  width: 1.7rem; height: 1.7rem;
  color: #fff;
  font-size: 1rem;
  background: #F26925;
}
button.qtyplus {
  margin-left: 0.3rem;
  width: 1.7rem; height: 1.7rem;
  color: #fff;
  font-size: 1rem;
  background: #F26925;
}

.load-more-btn {
  background-color: #474C55;
  border-bottom: 2px solid #F26925;
  border-radius: 2px;
  border-top: 2px solid #F26925;
  margin-top: 20px;
  padding: 9px 0;
  width: 100%
}


button:hover{
background: #474C55;
}

span.tag2 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 10px 0;
  color: #fff;
  font-size: 11px;
  text-align: center
}
span {
  color: #474C55;
  font-family: Lato, sans-serif;
  display: block;
  font-size: 13px;
  line-height: 20px;
}
span.hot {
 
  background-color: #F26925

}

  @media screen and (min-width: 1024px) {
    .product-card:hover {
        transform: scale(1.0125);
      }
  }