<div class="product-card"[routerLink]="['product_details_page', singleproduct.productId]">
  <div >
  <div class="product-card__image">
    <img src="assets/images/swag_mug.png" alt="" />
  </div>
  <div class="product-card__info">
    <header>
      <div class="title">
        <div class="product-name">{{ singleproduct.productName }}</div>
      </div>
      <div *ngIf="singleproduct.discountPercentage > 0.0;">
        <div class ="product-price">{{ singleproduct.productPrice-(singleproduct.productPrice*singleproduct.discountPercentage) | currency: "USD" }}</div>
        <div class="product-price" style="text-decoration: line-through;">{{ singleproduct.productPrice  | currency: "USD" }}</div>

      </div>
      <div *ngIf="singleproduct.discountPercentage === 0.0">
        <div class="product-price" >{{ singleproduct.productPrice | currency: "USD" }}</div>
      </div>
    </header>
  </div>
</div>
  <div class="product-card__cta">
    <button class="btn btn-dark">
      {{ singleproduct.currentStock === 0 ? "Out of stock" : "Add to cart" }}
    </button>
  </div>
  <div class="product-card__cta">
    <button class="btn btn-dark" (click)="getDetails()">
      See Product Details
    </button>
  </div>
</div>