.prod-info-main {
    border: 1px solid #fff;
    margin-bottom: 20px;
    margin-top: 10px;
    background: #fff;
    padding: 6px;
    -webkit-box-shadow: 0 1px 4px 0 #474C55;
    box-shadow: 0 1px 1px 0 #474C55;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.prod-info-main .product-image {
    background-color: #B9B9BA ;
    display: block;
    min-height: 238px;
    overflow: hidden;
    position: relative;
    border: 1px solid #F26925;
    padding-top: 40px;
}
.prod-info-main .product-detail {
    border-bottom: 1px solid #F26925;
    padding-bottom: 17px;
    padding-left: 25px;
    padding-top: 16px;
    position: relative;
    background: #fff
}
.product-content .product-detail h5 a {
    color: #474C55;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    padding-left: 0;
    margin-left: 0
}
.prod-info-main .product-detail h5 a span {
    color: #474C55;
    display: block;
    font-size: 13px
}
.prod-info-main .product-detail span.tag1 {
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    height: 50px;
    padding: 13px 0;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 50px
}
.prod-info-main .product-detail span.sale {
 
    background-color: #F26925
 
}
.prod-info-main .product-detail span.discount {
 
    background-color: #F26925
 
}
.prod-info-main .product-detail span.hot {
 
    background-color: #F26925
 
}
.prod-info-main .description {
    font-size: 12.5px;
    line-height: 20px;
    padding: 10px 14px 16px 19px;
    background: #fff
}
.prod-info-main .product-info {
 
    padding: 11px 19px 10px 20px
 
}
.prod-info-main .product-info a.add-to-cart {
    color: #474C55;
    font-size: 13px;
    padding-left: 16px
}
.prod-info-main name.a {
    padding: 5px 10px;
    margin-left: 16px
}
.product-info.smart-form .btn {
    padding: 6px 12px;
    margin-left: 12px;
    margin-top: -10px
}
.product-info.smart-form .btn:hover {
    transform: scale(1.1);
}
.load-more-btn {
    background-color: #474C55;
    border-bottom: 2px solid #F26925;
    border-radius: 2px;
    border-top: 2px solid #F26925;
    margin-top: 20px;
    padding: 9px 0;
    width: 100%
}
.product-block .product-detail p.price-container span,
 
.prod-info-main .product-detail p.price-container span,
 
.shipping table tbody tr td p.price-container span,
 
.shopping-items table tbody tr td p.price-container span {
    color: #474C55;
    font-family: Lato, sans-serif;
    font-size: 24px;
    line-height: 20px
}
.product-info.smart-form .rating label {
 
    margin-top:15px;
}
.prod-wrap .product-image span.tag2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 10px 0;
    color: #fff;
    font-size: 11px;
    text-align: center
}
.prod-wrap .product-image span.tag3 {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 60px;
    height: 36px;
    border-radius: 50%;
    padding: 10px 0;
    color: #fff;
    font-size: 11px;
    text-align: center
}
.prod-wrap .product-image span.sale {
 
    background-color: #F26925;
 
}
.prod-wrap .product-image span.hot {
 
    background-color: #F26925;
 
}
.prod-wrap .product-image span.special {
 
    background-color: #F26925;
 
}
.shop-btn {
 
    position: relative
 
}
.shop-btn>span {
    background: #F26925;
    display: inline-block;
    font-size: 10px;
    box-shadow: inset 1px 1px 0 #474C55, inset 0 -1px 0 #474C55;
    font-weight: 700;
    border-radius: 50%;
    padding: 2px 4px 3px!important;
    text-align: center;
    line-height: normal;
    width: 19px;
    top: -7px;
    left: -7px
}
.product-detail hr {
 
    padding: 0 0 5px!important
 
}
.product-detail .glyphicon {
 
    color: #F26925
 
}
.product-detail .product-image {
 
    border-right: 0px solid #fff !important
 
}
.product-detail .name {
    margin-top: 0;
    margin-bottom: 0
}
.product-detail .name small {
    display: block
 }
.product-detail .name a {
    margin-left: 0
}
.product-detail .price-container {
 
    font-size: 24px;
    margin: 0;
    font-weight: 300;
}
.product-detail .price-container small {
 
    font-size: 12px;
}
.product-detail .fa-2x {
 
    font-size: 16px!important
}
.product-detail .fa-2x>h5 {
 
    font-size: 12px;
    margin: 0
}
.product-detail .fa-2x+a,
.product-detail .fa-2x+a+a {
 
    font-size: 13px
}
.product-detail .certified {
 
    margin-top: 10px
}
.product-detail .certified ul {
 
    padding-left: 0
}
.product-detail .certified ul li:not(first-child) {
 
    margin-left: -3px
}
.product-detail .certified ul li {
 
    display: inline-block;
    background-color: #B9B9BA;
    padding: 13px 19px
}
.product-detail .certified ul li:first-child {
 
    border-right: #474C55
}
.product-detail .certified ul li a {
 
    text-align: left;
    font-size: 12px;
    color: #B9B9BA;
    line-height: 16px;
    text-decoration: none
}
.product-detail .certified ul li a span {
 
    display: block;
    color: #474C55;
    font-size: 13px;
    font-weight: 700;
    text-align: center
}
.product-detail .message-text {
 
    width: calc(100% - 70px)
}
@media only screen and (min-width:1024px) {
 
    .prod-info-main div[class*=col-md-4] {
        padding-right: 0
    }
 
    .prod-info-main div[class*=col-md-8] {
        padding: 0 13px 0 0
    }
 
    .prod-wrap div[class*=col-md-5] {
        padding-right: 0
    }
 
    .prod-wrap div[class*=col-md-7] {
        padding: 0 13px 0 0
    }
 
    .prod-info-main .product-image {
        border-right: 1px solid #F26925
    }
 
    .prod-info-main .product-info {
        position: relative
    }
 
}
body {
	margin: 0;
	font-size: 1.4rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	/* line-height: 1.5; */
	color: #575757;	
}
button {
	padding: 0;
	margin: 0;
	border-style: none;
	touch-action: manipulation;
	display: inline-block;
	border: none;
	background: none;
	cursor: pointer;
}

.qty {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
    
input {
		width: 5.5rem; height: 1.7rem;	
		font-size: 1.3rem;
		text-align: center;
		border: 1px solid;
}
button {
		width: 1.7rem; height: 1.7rem;
		color: #fff;
		font-size: 1rem;
		background: #F26925;
}
button.qtyminus {
		margin-right: 0.3rem;
}
button.qtyplus {
		margin-left: 0.3rem;
}

.home-container{
    padding-top : 24px;
}
.featured{
    margin: 0 auto;
    padding: 24px 16px;
    max-width: calc(350px + 32px);
}
.featured__header{
    margin-bottom: 16px;
}
h2.featured__header{
    font-size: 1.75em;
}
.featured__list{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;

}

@media only screen and (min-width: 768px){
    .featured{
        max-width: calc(700px + 72px);
        padding: 36px 24px;
    }
    .featured__header{
        margin-bottom: 16px;
    }
    .featured__list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
        row-gap: 24px;
    }
}

@media only screen and (min-width: 1200px){
    .featured{
        max-width: calc(1050px + 96px);
        padding: 36px 24px;
    }
    .featured__header{
        margin-bottom: 16px;
    }
    .featured__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 24px;
        row-gap: 24px;
    }
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

