<div class="container">
    <div class="col-xs-12 col-md-6">
        <div class="prod-info-main prod-wrap clearfix">

            <div class="row">

                <div class="col-md-5 col-sm-12 col-xs-12">

                    <div class="product-image">

                        <img src="" class="img-responsive">

                        <span class="tag2 hot">

                            SPECIAL

                        </span>

                    </div>

                </div>

                <div class="col-md-7 col-sm-12 col-xs-12">

                    <div class="product-detail">

                        <h5 class="name">

                            <a href="#" style="color:#F26925">

                                Product Name

                            </a>


                        </h5>

                        <p class="price-container">

                            <span>$199</span>

                        </p>

                        <span class="tag1"></span>

                    </div>

                    <div class="description">

                        <p>A Short product description here </p>

                    </div>

                    <div class="product-info smart-form">

                        <div class="row">

                            <div class="col-md-12">

                                <a href="#" class="btn btn-dark" style="background-color:#F26925">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>