<div class="home-container"> 
    <div class="featured">
      <ngb-carousel  [circular]="true" [autoplayInterval]="1000">
          <!-- if looping over standard map error is thrown in console, must use iteration keys -->
        <ng-template ngbSlide *ngFor="let category of categoryMapIterationKeys">
            <app-featured-card 
            [productList]="categoryMap.get(category)" 
            [category]="category" 
            (onImageClick)="productClick($event)" 
            (onCategoryClick)="categoryClick($event)">
            </app-featured-card>
        </ng-template>
      </ngb-carousel>
    </div>
</div>