<div class="">
        <div class="d-flex flex-row justify-content-around bg-light m-4 py-3 border border-primary" id={{productId}}>
        
                <div class="" id="image">
                <img class="rounded img-fluid img-thumbnail" [src]="setImage()" alt="../../assets/stockImage.jpg">
                </div>

                <div class="d-flex flex-column pl-2" id="itemInfo">
                        <p class="fs-5 fw-bold">Product Name: {{productName | titlecase}}</p>
                        <p class="fst-italic">Description: {{productDesc}}</p>
                </div>
        
                <div class="d-flex flex-column ml-auto pr-2">
                        <input class="" type="number" name="quantity" placeholder={{itemQuantity}} min="1" max={{currentStock}} size="2"  [(ngModel)]="updateQuantity">
                        <button class="btn btn-sm btn-secondary rounded mt-1" id={{productId}} (click)="updateProduct($event)">Update</button>      
                </div>

               

                <div class="d-flex flex-column ml-auto">
                        <span class="fw-bold">Price:{{getPrice() | currency}}</span>
                </div>

                <div class="d-flex flex-column">
                        <span id={{productId}} class="delete material-icons align-middle" (click)="deleteProduct($event)">delete</span>
                </div>
        
        </div>
</div>