<div class="bg-light m-4 py-3 border border-primary">
    <div class="d-flex row justify-content-between" id={{productId}}>
        <div class="col-2">
        <img class="rounded img-fluid pl-3" src="../../../assets/black_hat.jpeg" alt="Revature Hat">
                <!-- <p>{{productImage}}</p> -->
        </div>
    
        <div class="col">
                <p>Product Name: {{productName}}</p>
                <p>Description: {{productDesc}}</p>
        </div>
        

        <div class="col-1 mr-2">
                <div class="row">
                <input class="" type="number" name="quantity" placeholder={{itemQuantity}} min="1" max={{currentStock}} size="2">
                </div>
                <div class="row mt-2">
                <button class="btn btn-sm btn-secondary rounded">Update</button>      
                </div>
        </div> 
        
             

        <div class="col-2">
            <span>Price:{{productPrice | currency}}</span>
            <span id={{productId}} class="delete material-icons align-middle">delete</span>
        </div>
</div>
</div>
