.border-primary {
    border-color: #F26925 !important;
}

.delete {
    color:red;
    transition: .5s ease;
    opacity: .2;
}

.delete:hover, .add:hover {
    opacity: 1;
}

#image { 
    flex-basis: 200px;
}

#itemInfo {
    flex-basis: 400px;
}