/* You can add global styles to this file, and also import other style files */
ngb-carousel {
    max-width: 1200px;
    margin: 50px auto;
}
ngb-carousel img {
    width: 100%;
    outline: none;
}
ngb-carousel {
    width: inherit;
    height: inherit;
}
.carousel-inner {
    overflow: visible;
}
.carousel-item {
    display: flex;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.carousel-control-prev {
     z-index: 20;
}

.carousel-control-next {
     z-index: 20;
}
.carousel-indicators{
    z-index: 20;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23F26925' class='bi bi-chevron-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");    color: #F26925;
    
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23F26925' class='bi bi-chevron-left' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
}


