/* You can add global styles to this file, and also import other style files */
ngb-carousel {
    max-width: 700px;
    margin: 50px auto;
}
ngb-carousel img {
    width: 100%;
    outline: none;
}
ngb-carousel {
    width: inherit;
    height: inherit;
}
.carousel-inner {
    overflow: visible;
}
.carousel-item {
    display: flex;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.carousel-control-prev {
     z-index: 20;
}

.carousel-control-next {
     z-index: 20;
}
.carousel-indicators{
    z-index: 20;
}

.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    color: black;
}
.carousel-control-prev-icon {
    background-color: red;
}