.border-secondary {
    border-color: #F26925 !important;
}

#paymentIcon {
    color: #F26925;
}
#infoIcon {
    color: #474C55;
}
#paymentIcon:hover {
    transition: 0.3s ease;
    opacity: 1;
    cursor: pointer;
}
#infoIcon:hover {
    transition: 0.3s ease;
    opacity: 1;
    cursor: pointer;
}


.paymentIconOff {
    opacity: 0.3;
}

.infoIconOff {
    opacity: 0.3;
}

.infoIconOn {
    opacity: 1;
}

.paymentIconOn {
    opacity: 1;
}


.bg-secondary {
    color: #474C55 !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #F26925 !important;
    border-radius: 0;
}
.btn {
    border-color: #F26925 !important;
    transition: none !important;
}

.overlay {
    position: fixed;
    z-index: 1001;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
  }

  .text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  #badCartStyle {
      flex-direction: column !important;
  }