<div *ngIf="badCart" class="overlay">
    <div id="badCartStyle" class="d-flex flex-row justify-content-center bg-light position-absolute top-50 start-50 translate-middle">
        <p class="fs-3 m-2">Sorry item(s) not in stock, please remove all from cart</p>
        <app-cart-detail-page-item *ngFor="let cartItem of notInStock"
        [itemQuantity] = cartItem.quantity
        [productDesc] = cartItem.product.productDescription
        [productName] = cartItem.product.productName
        [productPrice] = cartItem.product.productPrice
        [productId] = cartItem.product.productId
        [currentStock] = cartItem.product.currentStock
        [discountPercentage] = cartItem.product.discountPercentage
        [featuredProduct] = cartItem.product.featuredProduct
        ></app-cart-detail-page-item>
        <div id="badCartStyle" class="d-flex flex-row">
            <button class="btn btn-secondary" (click)="delete()">Done</button>
        </div>
    </div>
    <!-- [productImage] = cartItem.product.productImage -->
</div>

<div *ngIf="badCheckout" class="text-center fs-5 bg-danger bg-opacity-25">
    <p *ngIf="!cart?.length" style="color: #474C55;">Your cart is empty, unable to proceed</p>
    <p *ngIf="checkoutForm.status==='INVALID'" style="color: #474C55;">Incompleted checkout form</p>
</div>

<div class="d-flex justify-content-center mb-5">

<form [formGroup]="checkoutForm" (ngSubmit)="onCheckout()" class="p-2">

    <div class="d-flex flex-row justify-content-center">
        <span [ngClass]="togglePayment ? 'infoIconOff' : 'infoIconOn'" class="material-icons-outlined p-2" id="infoIcon" (click)="toggle($event)">info</span>
        <span [ngClass]="togglePayment ? 'paymentIconOn' : 'paymentIconOff'" class="material-icons-outlined p-2" id="paymentIcon" (click)="toggle($event)">payments</span>
    </div>

    <div *ngIf="!togglePayment" [@toggleCheckout]>
        <div class="d-flex flex-row">
            <p class="fs-5">Personal Details</p>
        </div>
        <div class=" bg-secondary bg-opacity-10 p-2 mb-3">
            <div class="d-flex flex-row">
                <label for="firstName">
                    <input [ngClass]="{'is-invalid':getFormControlField('firstName')?.invalid}" id="firstName" type="text" formControlName="firstName" placeholder="First Name" required>
                    <div class="invalid-feedback">Please provide your first name</div>
                </label>
                <label class="ml-2" for="lastName">
                    <input [ngClass]="{'is-invalid':getFormControlField('lastName')?.invalid}" id="lastName" type="text" formControlName="lastName" placeholder="Last Name" required>
                    <div class="invalid-feedback">Please provide your last name</div>
                </label>
            </div>
        
            <div class="d-flex flex-row">
                <label for="phoneNumber">
                    <input [ngClass]="{'is-invalid':getFormControlField('phoneNumber')?.invalid}" id="phoneNumber" type="text" formControlName="phoneNumber" placeholder="Phone Number">
                    <div *ngIf="getFormControlField('phoneNumber')?.touched" class="invalid-feedback">Please a ten digit phone number</div>
                </label>
                <label class="ml-2" for="email">
                    <input [ngClass]="{'is-invalid':getFormControlField('email')?.invalid}" id="email" type="text" formControlName="email" placeholder="Email" required>
                    <div *ngIf="getFormControlField('email')?.errors?.['required']" class="invalid-feedback">Please provide an email</div>
                    <div *ngIf="getFormControlField('email')?.errors?.['pattern']" class="invalid-feedback">Please provide email in proper format</div>
                </label>
            </div>
        </div>
        
    
        <div class="d-flex flex-row">
            <p class="fs-5">Billing Address</p>
        </div>
    
        <div class="bg-secondary bg-opacity-10 p-2">
            <div formGroupName = "address">
                <div>
                    <label for="country">
                        <input id="country" type="text" formControlName="country" placeholder="" class="form-control">
                    </label>
                </div>
    
                <div class="d-flex flex-row">
                    <label class="" for="street">
                        <input [ngClass]="{'is-invalid':getFormControlField('address.street')?.invalid}" id="street" type="text" formControlName="street" placeholder="Street Address" required>
                        <div *ngIf="getFormControlField('address.street')?.touched" class="invalid-feedback">Please provide street address</div>
                    </label>
                </div>
    
                <div class="d-flex flex-row">
                    <label class="" for="address2">
                        <input id="address2" type="text" formControlName="address2" placeholder="Address 2">
                    </label>
                </div>
    
                <div class="d-flex flex-row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="poBox">
                        <label class="form-check-label" for="poBox">
                        PO Box
                        </label>
                    </div>
                </div>
    
                <div class="d-flex flex-row">
                    <label for="city">
                        <input [ngClass]="{'is-invalid':getFormControlField('address.city')?.invalid}" id="city" type="text" formControlName="city" placeholder="City" required>
                        <div *ngIf="getFormControlField('address.city')?.touched" class="invalid-feedback">Please provide city</div>
                    </label>
                    <label for="state" class="ml-2">
                        <select (change)="changeState($event)" id="state" formControlName="state" class="form-select middle-align" aria-label="Default select example">
                            <option *ngFor="let state of states">{{state}}</option>
                        </select>
                    </label>
                </div>
    
                <div class="d-flex flex-row">
                    <label id="zipCode">
                        <input [ngClass]="{'is-invalid':getFormControlField('address.zipcode')?.invalid}" id="zipCode" type="text" formControlName="zipcode" placeholder="Zip Code" required>
                        <div *ngIf="getFormControlField('address.zipcode')?.errors?.['required'] && getFormControlField('address.zipcode')?.touched" class="invalid-feedback">Please provide zip code</div>
                        <div *ngIf="getFormControlField('address.zipcode')?.errors?.['pattern'] && getFormControlField('address.zipcode')?.touched" class="invalid-feedback">Please provide 5 digits for zip code</div>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="togglePayment" [@toggleCheckout]>
        <div class="d-flex flex-row">
            <p class="fs-5">Payment</p>
        </div>

        <div class="bg-secondary bg-opacity-10 p-2">
            <div formGroupName = "payment">
                <div class="d-flex d-row">
                    <label for="payment">
                        <input [ngClass]="{'is-invalid':getFormControlField('payment.cardNumber')?.invalid}" id="payment" type="text" formControlName="cardNumber" placeholder="Credit Card Number" required>
                        <div *ngIf="getFormControlField('payment.cardNumber')?.touched" class="invalid-feedback">Please provide credit card number</div>
                    </label>
                    <label class="m-2" for="fname"></label>
                    <div id="fname" class="icon-container align-middle">
                      <i class="fa fa-cc-visa fa-2x mr-1" style="color:navy;"></i>
                      <i class="fa fa-cc-amex fa-2x mr-1" style="color:blue;"></i>
                      <i class="fa fa-cc-mastercard fa-2x mr-1" style="color:red;"></i>
                      <i class="fa fa-cc-discover fa-2x mr-1" style="color:orange;"></i>
                    </div>
                </div>

                <div class="d-flex d-row">
                    <label for="month">
                        <input [ngClass]="{'is-invalid':getFormControlField('payment.month')?.invalid}" id="month" type="text" formControlName="month" placeholder="Month" required>
                        <div *ngIf="getFormControlField('payment.month')?.touched" class="invalid-feedback">Please provide exp month</div>
                    </label>
                    <label for="year"> 
                        <input [ngClass]="{'is-invalid':getFormControlField('payment.year')?.invalid}" class="ml-2" id="year" type="text" formControlName="year" placeholder="Year" required>
                        <div *ngIf="getFormControlField('payment.year')?.touched" class="invalid-feedback">Please provide exp year</div>
                    </label>
                </div>

                <div class="d-flex d-row">
                    <label for="securityCode">
                        <input [ngClass]="{'is-invalid':getFormControlField('payment.securityCode')?.invalid}" id="securityCode" type="text" formControlName="securityCode" placeholder="Security Code" required>
                        <div *ngIf="getFormControlField('payment.securityCode')?.touched" class="invalid-feedback">Please provide credit card security code</div>
                    </label>
                </div>
            </div>
            <div class="d-flex flex-row">
                <button type="submit" class="btn btn-secondary rounded" id="checkout_btn">Place Your Order</button>
            </div>
        </div>    
    </div>          
</form>
    
    <!--Order Summary-->
    <div class="d-flex flex-row align-self-baseline mt-5">
        <div class="p-2 fst-italic border border-2 border-secondary">
            
            <div class="border-bottom text-center fs-4">
                Order Summary
            </div>

            <div class="d-flex flex-column border-bottom justify-content-between">
                <div *ngFor="let item of cart">
                    <div class="d-flex justify-content-between">
                        <p>{{item.quantity}}x  {{item.product.productName | titlecase}}</p>
                        <p>{{getPrice(item.product) | currency}}</p>
                    </div>
                </div>
            </div>


            <div class="d-flex flex-row justify-content-between">
                <p>Subtotal</p>
                <p>{{getSubTotal() | currency}}</p>
            </div>

            <div class="d-flex flex-row border-bottom justify-content-between">
                <p>Estimated Sales Tax</p>
                <p>{{getTax() | currency}}</p>
            </div>
            
            <div class="d-flex flex-row justify-content-between fw-bold">
                <p>Total</p>
                <p>{{getTotal() | currency}}</p>
            </div>



            <form [formGroup]="coupon" (ngSubmit)="applyCoupon()" >
                <label for="coupon">
                    <input id="coupon" type="text" formControlName="coupon" placeholder="Discount Code">
                </label>
                <div class="d-flex flex-row justify-content-between">
                    <button [ngClass]="pricePercent != 1 ? 'disabled':''" type="submit" class="btn btn-secondary rounded" id="checkout_btn">Apply</button>
                    <button  type="submit" class="btn btn-secondary rounded" id="cancelCoupon">Cancel Coupon</button>
                </div>
            </form>
            
        </div>
    </div>
</div>


                

                
                

            
        





